includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Facades
    tmpDir: .phpstan
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::#'
        - '#Parameter \#1 \$app of method .* expects Illuminate\\Contracts\\Foundation\\Application, mixed given#'
